.login_contain h1{
    color: #331f05;
}
.exit_login{
    position: absolute;
    margin-top: 10px;
    left: 200px;
    padding: 5px 10px; 
    background-color: #d1bd8e;  
    border: 2px solid #331f05;
    border-radius: 10%;
    color: #331f05;  
    font-weight: bold;
    text-decoration: none;
}